  <p>
	<ul>
	 {{#each opinions}}
		<li><p><b>Company:</b> {{companyName}} 
		<p><b>Product:</b> {{productName}} 
		<p><b>Price:</b> {{price}} $
		<p><img src="{{img}}" width="300" height="200" alt="ad">
			 </li>
	{{/each}}
	</ul>
  </p>

