	<div>
		<h1>FP Musica endpoint v. {{version}}</h1>
		<ul>
			<li><a href="/">/</a> this documentation page</li>
			<li><a href="/feedback">/feedback</a> the same docs page</li>
			<li><a href="/health">/health</a> - healthcheck with uptime</li>
		 	
		 	<li><a href="/feedback/activities">/feedback/activities</a> - activities </li>
		 	<li><a href="/feedback/dates">/feedback/dates</a> - dates to filter out activities</li>
		 	<li><a href="/feedback/ads">/feedback/ads</a> - ads</li>
		 	

		</ul>
	</div>

    {{> footer}}

